body {
  background-color: beige;

}

body {
  margin: auto;
  width: 640px;
  padding: 50px;
  font-family: 'Arial', sans-serif;
  color: #33475b;
}

img {
  padding: 10px;
}

.higher-button {
  margin: auto;
  width: 150px;
  padding: 15px;
}

.lower-button {
  margin: auto;
  width: 150px;
  padding: 15px;
}

.higher-en-lower-button {
  text-align: center;
}